.main {
    max-width: 1200px;
}

.header,
.main,
.footer {
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}

.divZagol {
    text-align: center;
}

.divH1:after {
    content: "";
    display: block;
    background-image: url(../imgs/menu.png);
    background-repeat: no-repeat;
    background-position: 113% 35%;
    background-size: 1110px;
    height: 70px;
    width: 500px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.aMenu {
    color: #fff;
    cursor: pointer;
}

.aYslygi {
    text-decoration: none;
    color: #000
}

p {
    margin-left: 2%;
    text-indent: 3%;
}

.imgContent1 {
    width: 30%;
    float: right;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 2%;
    -webkit-transform: matrix3d(1, 0, 0.00, -0.0004, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 10, 0, 0, 1);
            transform: matrix3d(1, 0, 0.00, -0.0004, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 10, 0, 0, 1);
    -webkit-box-shadow: 10px 10px;
            box-shadow: 10px 10px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.imgContent2 {
    width: 30%;
    float: left;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 2%;
    -webkit-transform: matrix3d(1, 0, 0.00, 0.0005, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 10, 0, 0, 1);
            transform: matrix3d(1, 0, 0.00, 0.0005, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 10, 0, 0, 1);
    -webkit-box-shadow: -10px 10px;
            box-shadow: -10px 10px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.divContent_two {
    padding-right: 2%;
}

.divZag_one {
    margin-bottom: 20px;
}

.divZag_one:after,
.divZag_two:after,
.divZag_three:after {
    content: "";
    display: block;
    border: 1px solid lightgray;
}

.divRazdel {
    clear: both;
    height: 20px;
}

.divH2_afterOne:after {
    content: "";
    display: block;
    background-image: url(../imgs/menu.png);
    background-repeat: no-repeat;
    background-position: -17% 35%;
    background-size: 1110px;
    height: 70px;
    width: 500px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}


.img:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}


.divH2_afterTwo:after {
    content: "";
    display: block;
    background-image: url(../imgs/menu.png);
    background-repeat: no-repeat;
    background-position: -5.1% 66%;
    background-size: 1110px;
    height: 80px;
    width: 400px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.divYslygi_menu {
    width: 24%;
    float: left;
}

.h3 {
    margin-left: 10%;
    border: 2px dashed #000;
    text-align: center;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    animation:boom  1.9s ease-in infinite;
}

.h3:hover {
    background: #160c06;
    color: #fff;
    border: 2px dashed #fff;
    -webkit-box-shadow: 4px 4px 4px #333;
            box-shadow: 4px 4px 4px #333;
            animation:boom  0.8s ease-in infinite;
            
}

@keyframes boom{
   0%{
    transform: scale(1);
   }
   20%{
    transform: scale(1.02);
   }
   60%{
    transform: scale(1);
   }
   80%{
    transform: scale(1.03);
   }
   100%{
    transform: scale(1);
   }
}

.divYslygi_logo {
    border-radius: 50%;
    height: 25vmin;
    width: 25vmin;
    background-image: url(../imgs/spraitYslygi.png);
    background-repeat: no-repeat;
    background-size: 450%;
    margin: 0 auto;
}

.divYslygi_logo1 {
    background-position: -5.5% 29%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.divYslygi_logo2 {
    background-position: 59.5% 29%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.divYslygi_logo3 {
    background-position: -5.5% 11.5%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.divYslygi_logo4 {
    background-position: 59.5% 11.5%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.divYslygi_logo1:hover,
.divYslygi_logo2:hover,
.divYslygi_logo3:hover,
.divYslygi_logo4:hover {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.ulYslygi:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-shadow: 4px 4px 10px #555;
}

.ulYslygi {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/*Slider*/
.divH2_afterThree:after {
    content: "";
    display: block;
    background-image: url(../imgs/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 85.5%;
    background-size: 1110px;
    height: 80px;
    width: 400px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/*Контакты*/
.divZag_four {
    background-image: url(../imgs/kobrin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.iframeMap {
    margin-left: 2%;
    float: left;
}

.divContacts {
    width: 50%;
    float: right;
}

.divH2_afterFour:after {
    content: "";
    display: block;
    background-image: url(../imgs/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 85.5%;
    background-size: 1110px;
    height: 80px;
    width: 400px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.divAdress,
.divWorkTime,
.divNumber,
.divEmail {
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px #fff
}

.divYslygi_logo:hover {
    -webkit-animation: gryg 2s ease-in infinite;
            animation: gryg 2s ease-in infinite;

}

@-webkit-keyframes gryg {

    0% {
        -webkit-transform: rotateY(0grad);
                transform: rotateY(0grad);
    }
    50% {
        -webkit-transform: rotateY(180grad);
                transform: rotateY(180grad);
    }
}

@keyframes gryg {

    0% {
        -webkit-transform: rotateY(0grad);
                transform: rotateY(0grad);
    }
    50% {
        -webkit-transform: rotateY(180grad);
                transform: rotateY(180grad);
    }
}