@media (max-width:750px){

.divAdress_right,
.divLogo_left,
.divH1:after,
.divH2:after,
.divFooter_rightVK,
.divFooter_rightIns{
    display: none;
}

.divLogo_center{
    height:430px;
    background-image: url(../imgs/logocentr.png);
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 60px;
    background-size: 55%
}

.imgContent1,
.imgContent2{
    float: none;
    width: 100%;
    -webkit-transform:none;
        -ms-transform:none;
            transform:none;
    margin:0 ;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.img:hover{
    -webkit-transform:none;
        -ms-transform:none;
            transform:none;
}

.divYslygi_menu {
    width: 100%;
    float: left;
}

.h3{
    margin: 0 auto;
    width: 40%;
    border:2px dashed #000;
    text-align: center;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.ulYslygi{
    width: 80%;
    margin: 10px auto;
}

.headerDiv{
    margin-top:-60px;
    height: 560px
}

#divMenu{
    height: 100px;
    margin-top: 130px;
}

.sticky{
    top: -160px;
}

.iframeMap{
    float: none;
    width: 80%;
    margin-left:50%;
    transform: translateX(-50%);
}

.divContacts{
    float: none;
    margin: 0 auto;
}

.slider{
    width: 80vmin;
    padding: inherit;
}

.divWork label+img{
    width: 80vmin;
    margin-left: 50%;
    -webkit-transform: translateX(-50%)!important;
        -ms-transform: translateX(-50%)!important;
            transform: translateX(-50%)!important;
}

.divWork label>img{
    width: 8vmin;
}

.divWork label{
    position: relative;
    margin-top: 45vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
}

.divWork label:nth-of-type(1){
    margin-left: 13vmin;
}


.aMenu{
    text-decoration: none;
    position: absolute;
}

label[for=menuYS]{
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 3em;
}

.aMenu{
    transform: translateX(-800px)
}

input[type=checkbox]:checked~.aMenu{
    display: block;
    position: absolute;
    width: 90%;
    text-align: center;
    height: 50px;
    background:#333;
    transform: translateX(0);
}

.aOne{
    top:660px;
}

.aTwo{
    top:710px;
}

.aThree{
    top:760px;
}

.aFour{
    top:810px;
}

.aOne,
.aTwo,
.aThree,
.aFour{
    line-height: 3em;
}
.sticky{
    position: absolute;
}
.divZag_oneMob{
    margin-top: -30px;
}

}

@media (max-width:300px){
*{
     font-size: 6vmin;
    }
   
ul{
     padding: 0;
}
.button{
     width: 23vmin;
}
}




