@media (min-width:1200px){

.header,
.main,
.footer{
    margin: 0 auto;
    -webkit-box-shadow: 0px 4px 40px #222;
            box-shadow: 0px 4px 40px #222;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}
}