.slider{
    width: 640px;
	position: relative;
	padding-top: 320px;
	margin: 20px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.8 );
}


label>img{
	width: 100px;
}
.slider>img{
	position: absolute;
	width: 100%;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name="slide"]{
	display: none;
}

.slider label{
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0.6;
}

.slider img{
	display: block;
}


.slider input[name="slide"]:checked+label{
	border-color: #666;
	opacity: 1;
}

.slider input[name="slide"] ~ img {
	opacity: 0;
	transform: scale(1.1);
}

.slider input[name="slide"]:checked+label+img{
	opacity: 1;
	transform: scale(1);
}
